.navbar-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-cont {
  display: flex;
  flex-direction: row;
}

.navbar-cart {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navbar-cart-cont {
  cursor: pointer;
}
