.navbar-nav {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 197px;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-cont {
  display: flex;
  flex-direction: row;
}

.navbar-cart {
  margin: 30px;
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.navbar-cart-cont {
  cursor: pointer;
}

.navbar-cart:after {
  content: attr(value);
  font-size: 12px;
  background: red;
  border-radius: 50%;
  padding: 8px;
  left: 21px;
  top: -13px;
  opacity: 0.9;
  position: absolute;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
