.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  color: white;
  height: 100vh;
  width: 100vw;
}

.modal-h1 {
  cursor: pointer;
}

.modal-h1:hover {
  text-decoration: underline;
}
