.menu {
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.plus {
    width: 24px;
    height: 25px;
}

.product-box {
    display: flex;
    justify-content: space-between;
    width: 311px;
    height: 64px;

    .title-box {
        line-height: 0.6;
        
        h2 {
            font-size: 23px;
            font-weight: 700;
        }

        p {
            font-size: 12px;
            font-weight: 400;
        }
    }

    .price {
        font-size: 23px;
        font-weight: 700;
    }
}